:root {
  --c-white: #ffffff;
  --c-black: #000000;

  --c-bg-black: #202020;
  --c-bg-black-1: #2d2d2d;
  --c-bg-black-sub: #272727;
  --c-bg-black-active: #454545;

  --c-bg-white: #f3f3f3;
  --c-bg-white-sub: #f9f9f9;
  --c-bg-white-active: #ffffff;
}
