@mixin d-flex {
  display: flex;
}

@mixin justify-items-center {
  justify-items: center;
}
@mixin align-items-center {
  align-items: center;
}

@mixin trans-all-ease {
  transition: ease all 0.5s;
}
